<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP1 Flask</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <p>TP1 Flask - Teachers gestion apllication</p>

        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/gives">Gives</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block buttons %}{% endblock %}

        <h3>Data : </h3>
        <ul>
            {% for elem in data -%}
                <li>
                    {% for row, value in elem.items() -%}
                        {{ row ~ ': ' ~ value ~ ' - ' }}
                    {%- endfor %}
                </li>
            {%- endfor %}
        </ul>
    </main>

    <script src="/static/js/{{ jsfile }}"></script>
</body>
</html>