{% extends "index.html" %}

{% block buttons %}
    <div>
        <input id="teacher-name" type="text" name="teacher_name" placeholder="name">
        <input id="teacher-colleagues" type="text" name="teacher_colleagues" placeholder="0,1,2,...">
        <button id="add-teacher" onclick="addTeacher()">Add</button>
    </div>
    <div>
        <input id="teacher-id" type="text" name="teacher_id" placeholder="id">
        <button id="delete-teacher" onclick="deleteTeacher()">Delete</button>
    </div>
    <div>
        <input id="teacher-id-put" type="text" name="teacher_id_put" placeholder="id">
        <input id="teacher-name-put" type="text" name="teacher_name_put" placeholder="name">
        <input id="teacher-colleagues-put" type="text" name="teacher_colleagues_put" placeholder="0,1,2,...">
        <button id="delete-teacher" onclick="updateTeacher()">Update</button>
    </div>
{% endblock %}